/* giving background color to the document heading or giving background image*/
.jumbotron{
    
    /* background-image: url("../Assets/laptop.jpg");
    background-size: cover;
     background-position: center;
    height: 300px; */
}

body{
    background: seashell;
}
/* Giving margin in between the employee cards */
.card{
    margin:10px;
    /* min-width:300px;
    min-height:400px; */
}

/* .container{
    display:flex;
    flex-wrap: wrap;
    width:100%;
    flex-grow: 100;
    flex-shrink: 50;
    text-align: center;
} */
/*  */
.card-header{
    background-color:lightgray;
}
/* giving border to the employee cards */
.employee-card{
    border-color:blue;
    border: solid;
    border-radius:2px;
}
.display-4 {
    font-family: 'Work Sans', sans-serif;
}

.card-title, h3, h4 {
    font-family: 'Noto Sans', sans-serif;
}

  
  
